:root {
   --color-FFFFFF: #FFFFFF;
   --color-FFFFFD: #FFFFFD;
   --color-F9F9F9: #F9F9F9;
   --color-D9D9D9: #D9D9D9;
   --color-FFCD29: #FFCD29;
   --color-0D99FF: #0D99FF;
   --color-F10000: #F10000;
   --color-AD0000: #AD0000;
   --color-1E1E1E: #1E1E1E;
   --color-0B0D42: #0B0D42;
   --color-070707: #070707;
   --color-000000: #000000;
}