@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Lato:wght@700&display=swap");

// font-family: 'Inter', sans-serif; 500/700
// font-family: 'Lato', sans-serif; 700

:root {
  // Font-family
  --Inter-ff: "Inter", sans-serif;
  --Lato-ff: "Lato", sans-serif;

  // Text
  --page-title-font: 700 90px/135px var(--Inter-ff);
  --yb-block-title-font: 700 45px/67.5px var(--Inter-ff);
  --yb-block-subtitle-font: 700 25px/37.5px var(--Inter-ff);
  --yb-block-text-font: 700 35px/52.5px var(--Inter-ff);
  --yb-block-pricing-font: 700 50px/75px var(--Inter-ff);
  --var-title-font: 700 30px/45px var(--Inter-ff);
  --var-text-font: 700 28px/42px var(--Inter-ff);
  --pre-footer-suptext-font: 700 25px/37.5px var(--Lato-ff);
  --pre-footer-subtext-font: 700 30px/45px var(--Lato-ff);
  --footer-title-font: 700 100px/150px var(--Inter-ff);
  --footer-text-font: 700 30px/45px var(--Inter-ff);
  --footer-contact-title-font: 700 40px/60px var(--Inter-ff);
  --footer-contact-number-font: 700 30px/45px var(--Inter-ff);

  // Components
  --btn-header-font: 700 20px/30px var(--Inter-ff);
  --btn-pre-footer-font: 700 35px/52.5px var(--Inter-ff);
  --btn-yellow-footer-font: 700 35px/52.5px var(--Inter-ff);
  --btn-white-footer-font: 700 25px/37.5px var(--Inter-ff);
}

// Text classes
.page-title {
  font: var(--page-title-font);
  letter-spacing: -2px;
  color: var(--color-0B0D42);

  @media (max-width: 1600px) {
    font-size: 65px;
    line-height: 80px;
  }

  @media (max-width: $media-xxl) {
    font-size: 45px;
    line-height: 80px;
  }

  @media (max-width: $media-md) {
    font-size: 30px;
    line-height: 55px;
  }
}

.pre-footer-accent-1 {
  color: var(--color-AD0000);
}

.pre-footer-accent-2 {
  color: var(--color-F10000);
}

.footer__title {
  font: var(--footer-title-font);
  letter-spacing: -1.1px;

  @media (max-width: 1600px) {
    display: none;
  }
}

.footer__text {
  font: var(--footer-text-font);
  letter-spacing: -0.33px;
}

.footer__contact-us--title {
  font: var(--footer-contact-title-font);
  margin-bottom: 45px;
}

.footer__contact-us--number {
  font: var(--footer-contact-number-font);
  margin-bottom: 30px;
}

// Components classes
.header__btn {
  font: var(--btn-header-font);
}

.footer__btn--yellow {
  font: var(--btn-yellow-footer-font);
  letter-spacing: 0.66px;
}

.footer__btn--white {
  font: var(--btn-white-footer-font);
  letter-spacing: 0, 475px;
}
