body {
    font-family: var(--Inter-ff);
    color: var(--color-000000);
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1555px;
    margin: 0 auto;

    @media (max-width: 1600px) {

    }
}
