.opacity {
  opacity: 0.3;
}

// Hero section

.hero {
  padding-bottom: 190px;

  @media (max-width: 1600px) {
    padding-bottom: 100px;
  }

  @media (max-width: $media-md) {
    display: none;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $media-xl) {
      flex-direction: column;
    }
  }

  &__title {
    max-width: 967px;

    @media (max-width: 1600px) {
      padding-left: 50px;
    }

    @media (max-width: $media-xl) {
      max-width: 70vw;
      text-align: center;
    }
  }

  &__img {
    width: 100%;
    max-width: 482px;
  }
}

// Hero section END

// Two-towers section

.two-towers {
  padding-bottom: 60px;

  &__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1600px) {
      zoom: 70%;
      gap: 30px;
      align-items: center;
    }

    @media (max-width: $media-xl) {
      flex-direction: column;
    }

    @media (max-width: $media-sm) {
      zoom: 45%;
    }
  }

  &__item {
    max-width: 714px;
    display: flex;
    flex-direction: column;
    padding: 58px 120px 105px 65px;
    border-radius: 80px;
    background-color: var(--color-0D99FF);
    color: var(--color-FFFFFF);

    &:first-child {
      background-color: var(--color-0D99FF);
    }

    &:last-child {
      background-color: var(--color-FFCD29);
    }
  }

  &__title-block {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    position: relative;

    &--title {
      color: var(--color-FFFFFF);
      font-size: 45px;
      font-weight: 700;
      line-height: 67.5px;
      letter-spacing: -0.855px;
    }

    &--subtitle {
      font-size: 30px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: -0.33px;
    }

    &--emoji {
      position: absolute;
      right: -40px;
      top: 0;
    }
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.5px;
    letter-spacing: -0.665px;
    margin-bottom: 200px;

    .two-towers__list {
      display: flex;
      flex-direction: column;
      list-style: disc;
      margin-bottom: 80px;
      margin-left: 50px;
    }
  }

  &__footer {
    align-self: center;

    &--new-price {
      font-size: 50px;
      font-weight: 700;
      line-height: 75px;
      letter-spacing: -0.95px;
    }

    &--old-price {
      font-size: 30px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: -0.57px;
      text-decoration: line-through;
    }
  }
}

// Two-towers section END

// Variants section

.variants {
  padding-bottom: 160px;

  @media (max-width: $media-xl) {
    padding-bottom: 100px;
  }

  @media (max-width: $media-md) {
    padding-bottom: 40px;
  }

  &__title {
    text-align: center;
    font: var(--var-title-font);
  }

  &__row {
    display: grid;
    grid-template-columns: 503px 506px 387px;
    column-gap: 25px;
    row-gap: 12px;
    font: var(--var-text-font);
    list-style: disc;

    @media (max-width: 1600px) {
      display: flex;
      flex-direction: column;
      align-self: center;
      text-align: center;
      gap: 15px;
      max-width: 600px;
      list-style: none;
    }

    &--item {
      @media (max-width: 1600px) {
        width: 100%;
        background-color: var(--color-0D99FF);
        border-radius: 10px;
        padding: 10px 30px;
      }
    }
  }
}

.variants__container {
  display: flex;
  flex-direction: column;
  gap: 47px;
  background-color: var(--color-D9D9D9);
  border-radius: 50px;
  padding: 10px 0 66px 85px;

  @media (max-width: 1600px) {
    padding: 30px 20px;
  }

  @media (max-width: $media-md) {
    zoom: 0.7;
  }

  @media (max-width: $media-sm) {
    zoom: 0.5;
  }
}

// Variants section END

// Pre-footer section

.pre-footer {
  padding-bottom: 162px;

  @media (max-width: $media-md) {
    padding-bottom: 40px;
  }

  &__streaming-img {
    position: absolute;
    right: -35px;
    top: 0;
  }
}

.pre-footer__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1600px) {
    zoom: 0.9;
  }

  @media (max-width: $media-xxl) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $media-md) {
    zoom: 0.5;
  }

  @media (max-width: $media-sm) {
    zoom: 0.4;
  }
}

.pre-footer__button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 38px;

  @media (max-width: $media-xxl) {
    margin-bottom: 60px;
  }

  .prefooter__btn--yellow {
    position: relative;
  }
}

.pre-footer__content {
  display: flex;
  flex-direction: column;
  gap: 55px;
  justify-content: center;

  .pre-footer__upper-row {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .pre-footer__suptext {
    font: var(--pre-footer-suptext-font);
  }

  .pre-footer__column {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
  }

  .pre-footer__subtext {
    font: var(--pre-footer-subtext-font);
  }
}

// Pre-footer section END
