.header__btn {
    padding: 30px;
    background-color: var(--color-0D99FF);
    border-radius: 32px;
    width: 324px;
    color: var(--color-FFFFFF);
}

.prefooter__btn {
    padding: 34px;
    background-color: var(--color-0D99FF);
    border-radius: 45px;
    width: 696px;
    color: var(--color-FFFFFF);
}

.footer__btn {
    padding: 34px;
    background-color: var(--color-FFCD29);
    border-radius: 45px;
    width: 474px;
    color: var(--color-FFFFFF);
}